/*reset*/
html, body, div, span, a, p, ul, li, h1, h2, h3, nav, section {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

html {
  background-color: rgb(0, 120, 0);
}

body {
  font-family: helvetica neue, helvetica, sans-serif;;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.025em;

  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

/*root div in index.html*/
#root {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #F0F0F0;
}

/*links*/
a {
  border-bottom: 1px dotted rgb(0, 168, 0);
  touch-action: manipulation;
  -ms-touch-action: manipulation;
}

a:hover, a:active {
  color: black;
  border-bottom: 1px solid rgb(0, 168, 0);
}

.current-input-touch a:hover {
  color: inherit;
  border-bottom: 1px dotted rgb(0, 168, 0);
}

.current-input-touch a:active {
  color: black;
  border-bottom: 1px dashed rgb(0, 168, 0);
}

/*custom bullets*/
li {
  list-style: none;
  padding-left: 18px;
  text-indent: -15px;
  margin: 0.5vh 0;
}

li:before {
  content: "\2013";
  padding-right: 7px;
}


/*style for multiple pages*/
#home, #page-not-found, section {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding: 2.5vw 3.5vw 12vh 3.5vw;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
  margin-top: 2vh;
}

code {
  font-family: monospace;
  font-size: 15px;
  padding-left: 2px;
}


/*home page style*/
#repo-link {
  font-size: 14px;
}

#built-with {
  font-size: 12px;
  margin-top: 10vh;
  color: #A0A0A0;
}


/*example page style*/
#section-one {
  background-color: #E0E0E0;
}

#section-two {
  background-color: #D0D0D0;
}

#section-three {
  background-color: #C0C0C0;
}


/*pagee not found style*/
p {
  margin: 5vh 0 7vh 0;
}

p > div {
  margin-top: 2vh;
}
